/* PeticionConsulta */

.peticion-consulta-rectangle {
    background-color: #f7f7f7;
    border-radius: 20px;
    flex-direction: row;
    flex-basis: 9%;
    justify-content: space-around;
    align-items: center;
    font-weight: 600;
    display: flex;
    padding: 10px;
  }
  
  .peticion-consulta-image-client-rectangle {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 20px;
  }
  
  .peticion-consulta-data-client-container {
    height: 40%;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 1px;
    margin-bottom: 1px;
    display: flex;
  }
  
  .time {
    color: #bdbdbd;
    font-weight: 400;
  }

  .accept-button {
    size: 100px;
    height: auto;
    width: auto;
    background-color: #dadada;
  }
  
  .reject-button {
    height: auto;
    width: auto;
    background-color: #dadada;
  }

/* RightAgenda */

.checkbox-list {
    display: flex;
    flex-direction: column;
  }
  
  .checkbox-list-item {
    color: #1976d2;
    padding: 0 8px;
    '&.Mui-checked': {
      color: #1976d2;
    }
  }
  
  .MuiFormControlLabel-label {
    font-size: 16px;
    font-weight: 500;
  }
  