/* PeticionConsulta */

.peticion-consulta-rectangle {
  height: 60%;
  width: 70%;
  background-color: #f7f7f7;
  border-radius: 20px;
  flex-direction: row;
  flex-basis: 9%;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  display: flex;
  padding: 20px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.left-side-consulta {
  width: 50%;
  height: 100%;
}

.right-side-consulta {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.peticion-consulta-rectangle.accepted {
  background-color: #d9f7d6;
  /* Color verde para peticiones aceptadas */
}

.peticion-consulta-rectangle.rejected {
  background-color: #f9e1d4;
  /* Color naranja para peticiones canceladas */
}

.client-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.date-agenda {
  white-space: nowrap;
}

.peticion-consulta-image-client-rectangle {
  width: 50%;
  height: 50%;
  object-fit: cover;
  border-radius: 30px;
}

.time {
  color: #bdbdbd;
  font-weight: 400;
}

.client-name {
  display: flex;
  margin-top: 5px;
  font-weight: bold;
}

.client-container {
  display: flex;
  flex-direction: column;
}

.button-group {
  display: flex;
  align-self: center;
  margin-left: 10px;
}

.accept-button.accepted {
  background-color: green;
}

.reject-button.rejected {
  background-color: red;
}

/* RightAgenda */

.checkbox-list {
  display: flex;
  flex-direction: column;
}

.checkbox-list-item {
  color: #1976d2;
  padding: 0 8px;
}

.MuiFormControlLabel-label {
  font-size: 16px;
  font-weight: 500;
}