.user-rectangle {
  background-color: #f7f7f7;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 20px;
}

.user-image-rectangle {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 20px;
}

.user-data-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
}

.user-name {
  font-weight: 600;
  margin: 0;
}

.specialty-container {
  display: flex;
  align-items: center;
}

.grade-icon {
  margin-right: 5px;
}

.specialty-label {
  font-weight: 400;
  color: #bdbdbd;
}

.right-side {
  margin-left: auto;
}

.view-profile-button {
  /* Agrega estilos adicionales para el botón "Ver más" si es necesario */
}

.user-option {
  /* Estilos para el icono de opciones si es necesario */
}
