.uppershadow-dieta-rectangle {
  margin-left: auto;
  margin-top: auto;
  position: absolute;
  display: -webkit-box;
  align-self: flex-start;
}

.lowershadow-dieta-rectangle {
  margin-left: auto;
  margin-right: 0%;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  right: 0;
}

.dieta-rectangle {
  width: 100%;
  height: 100px;
  background-color: #369fff;
  box-shadow: 0px 10px 30px #369fff66;
  border-radius: 10px;
  align-items: center;
  display: flex;
  position: relative;
}

.dieta-container {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  padding-top: 10px;
}


.dieta-title {
  font-size: 16px;
  font-weight: bold;
  color: white;
  margin: 0;
}

.dieta-tipo {
  font-size: 12px;
  color: white;
  margin: 0;
}

.dieta-image-client-rectangle {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 20px;
  padding-left: 10px;
  margin-right: 10px;
}