.left-column-basegrid-rectangle {
    color: #bdbdbd;
    background-color: #fff;
    border-radius: 40px 0 0 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.875rem;
    line-height: 19px;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}

.left-sidebar-link-active {
    color: #369fff;
    width: 100%;
    flex-direction: row;
    align-items: center;
    font-weight: 600;
    display: flex;
    padding: 10px 0;
}

.left-sidebar-link {
    width: 100%;
    flex-direction: row;
    align-items: center;
    font-weight: 600;
    display: flex;
    padding: 10px 0;
}
@media screen and (max-width: 768px) {
    .left-column-basegrid-rectangle {
      width: 100%;
      border-radius: 0;
    }
    .left-sidebar-link-active,
    .left-sidebar-link {
      width: 100%;
      justify-content: center;
    }
    .flex-container {
      justify-content: center;
      margin-bottom: 1rem;
    }
    .fill-1152 {
      width: 70%;
    }
  }
  