.left-column-basegrid-rectangle {
  color: #bdbdbd;
  background-color: #fff;
  border-radius: 40px 0 0 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.875rem;
  line-height: 19px;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
}

.left-sidebar-link-active {
  color: #369fff;
  width: 100%;
  flex-direction: row;
  align-items: center;
  font-weight: 600;
  display: flex;
  padding: 10px 0;
}

.limoslogo {
  width: 60px;
  height: 60px;
  margin-bottom: 1px;
}

.left-sidebar-link {
  width: 100%;
  flex-direction: row;
  align-items: center;
  font-weight: 600;
  display: flex;
  padding: 10px 0;
}
.flex-container {
  display: flex;
  align-items: center;
}

.limos {
  font-size: 2rem;
  font-weight: bold;
  color: #369fff;
  margin: 0;
}

.logo-container {
  margin: 0 5px; /* Reducir el margen entre el logo y las letras */
}

.limoslogo {
  width: 50px; /* Ajustar el tamaño del logo según tus preferencias */
  height: 50px;
  margin-bottom: -10px; /* Mover el logo hacia arriba para juntarlo más con las letras */
}



@media screen and (max-width: 768px) {
  .left-column-basegrid-rectangle {
    width: 100%;
    border-radius: 0;
  }
  .left-sidebar-link-active,
  .left-sidebar-link {
    width: 100%;
    justify-content: center;
  }
  .flex-container {
    justify-content: center;
    margin-bottom: 1rem;
  }
  .limoslogo {
    width: 24px;
    height: 24px;
    margin-bottom: 1px;
  }
  .left {
    display: none;
  }
}
